<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singin</title>
    <link rel="stylesheet" href="/css/singin.css">
</head>
<body>
    <div class="singup_container">
        <div class="imge">
            <img src="/image/logo/logo.png" alt="" srcset="">
        </div>
        <h1>Create Your Account</h1>
        <form action="" id="singupform">
            <div class="form-group">
            <label for="fullname">
                Full Name
            </label>
            <div class="input-field">
                <input type="text" id="fullname" name="fullname" placeholder="Enter Full Name">
            </div>
        </div>
        <div class="form-group">
            <label for="email">
                Email Address
            </label>
            <div class="input-field">
                <input type="email" id="email" name="email" placeholder="Enter Email Address">
            </div>
        </div>
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <div class="input-field">
                <input type="password" id="password" name="password" placeholder="Enter Password">
            </div>
        </div>
        <div class="form-group">
            <label for="Confirm_Password">
                Confirm Password
            </label>
            <div class="input-field">
                <input type="password" id="Confirm_Password" name="Confirm_Password" placeholder="Renter Password ">
            </div>
        </div>
        </form>
        <a href="/template/index.html"><button type="submit"> SingUp</button></a>
        <a href="/template/login.html"><h5>Already Have Account?</h5></a>
      
    </div>
    
</body>
</html>